[submodule "3rdparty/xbyak"]
	path = 3rdparty/xbyak
	url = https://github.com/herumi/xbyak.git
[submodule "3rdparty/ittapi"]
	path = 3rdparty/ittapi
	url = https://github.com/intel/ittapi.git
[submodule "3rdparty/papi"]
	path = 3rdparty/papi
	url = https://github.com/icl-utk-edu/papi.git
